<settings>
	<pluginGroups>
		<pluginGroup>org.jbehave</pluginGroup>
		<pluginGroup>org.sonatype.plugins</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<id>jbehave-osgi</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>sonatype-public-repository-group</id>
					<name>Sonatype Public Repository Group</name>
					<url>https://oss.sonatype.org/content/groups/public/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>ops4j-deps-snapshots</id>
					<name>OPS4j Snapshots</name>
					<url>http://oss.sonatype.org/content/repositories/ops4j-snapshots/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>lunifera-deps-releases</id>
					<name>Lunifera Nexus Release</name>
					<url>http://maven.lunifera.org:8086/nexus/content/repositories/releases/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>sonatype-public-repository-group</id>
					<name>Sonatype Public Repository Group</name>
					<url>https://oss.sonatype.org/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
