@charset "UTF-8";
@import url(../reindeer/styles.css);
@import "button/button.css";
@import "window/window.css";
@import "layout/layout.css";

.v-sa .v-app,
.v-sa .v-window,
.v-sa .v-popupview-popup,
.v-sa .v-tooltip,
.v-sa .v-app input,
.v-sa .v-app select,
.v-sa .v-app button,
.v-sa .v-app textarea,
.v-sa .v-window input,
.v-sa .v-window select,
.v-sa .v-window button,
.v-sa .v-window textarea,
.v-sa .v-popupview-popup input,
.v-sa .v-popupview-popup select,
.v-sa .v-popupview-popup button,
.v-sa .v-popupview-popup textarea,
.v-sa .v-filterselect-suggestpopup,
.v-sa .v-datefield-popup,
.v-sa .v-contextmenu,
.v-Notification,
.v-menubar-submenu {
	font-family: Arial, Helvetica, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
}

.bubble {
	color: #fff;
	background: #c81e2b;
    position:relative;
	padding:15px;
	font-size: 15px;
	margin:1em 0 2em;
	/* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.v-panel-content.v-panel-content-news {
    background: url(img/hawk.jpg);
}

.v-panel-content-news > div {
   background: transparent;
}

.v-panel-content.v-panel-content-people {
   background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(75,133,190,1) 47%, rgba(111,170,220,0.7) 85%, rgba(125,185,232,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(47%,rgba(75,133,190,1)), color-stop(85%,rgba(111,170,220,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(75,133,190,1) 47%,rgba(111,170,220,0.7) 85%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(75,133,190,1) 47%,rgba(111,170,220,0.7) 85%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */

}

.v-panel-content-people > div {
   background: transparent;
}


 