.v-window-light .v-window-wrap {
	border: none;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	}

.v-window-light .v-window-wrap2 {
	background: transparent;
	}

.v-window-light .v-window-outerheader {
	background: transparent;
	padding: 0;
	height: 5px;
	border: none;
	overflow: visible;
	}

.v-window-light .v-window-header {
	font-size: 12px;
	line-height: normal;
	color: #424448;
	text-shadow: 0 1px 0 #fff;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 30px;
	height: 16px;
	padding: 3px 14px 0 31px;
	background: #dcdcde url(img/light-header-bg.png) repeat-x;
	border: 1px solid #8c8d8d;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	margin-top: -7px;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	}

.v-window-light .v-window-header {
	border-color: rgba(0,0,0,.4);
	}

.v-window-light .v-window-resizebox {
	position: absolute;
	width: 12px;
	height: 11px;
	bottom: -1px;
	right: 0;
	background: transparent url(img/resizer.png) no-repeat 0 0;
	}

.v-window-light .v-window-footer {
	background: transparent;
	height: 0;
	position: static;
	}

.v-window-light .v-window-closebox {
	top: -6px;
	left: 32px;
	right: auto;
	background: transparent url(img/light-close-btn.png) no-repeat right 0;
	z-index: 3;
	width: 19px;
	height: 19px;
	}

.v-window-light .v-window-closebox:hover {
	background: transparent url(img/light-close-btn.png) no-repeat right -19px;
	}

.v-window-light .v-window-closebox:active {
	background: transparent url(img/light-close-btn.png) no-repeat right -38px;
	}

.v-window-light .v-window-contents {
	border: 1px solid #303030;
	background: #fff;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	}

.v-window-light .v-window-contents {
	border-color: rgba(0,0,0,.4);
	background-color: rgba(255,255,255,.92);
	}


/********************************
 * "no-caption"
 ********************************/
.v-window-no-caption .v-window-wrap,
.v-window-no-caption .v-window-wrap2 {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	}

.v-window-no-caption .v-window-outerheader {
	height: 0;
	}

.v-window-no-caption .v-window-header {
	display: none;
	}

.v-window-no-caption .v-window-closebox {
	width: 15px;
	height: 16px;
	top: 4px;
	left: auto;
	right: 4px;
	cursor: default;
	background: transparent url(img/close-btn.png) no-repeat 0 0;
	}

.v-window-no-caption .v-window-closebox:hover {
	background: transparent url(img/close-btn.png) no-repeat 0 -16px;
	}

.v-window-no-caption .v-window-closebox:active {
	background: transparent url(img/close-btn.png) no-repeat 0 -32px;
	}