<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="eclipse-jbehave-osgi-indigo" sequenceNumber="8">
<locations>
<location path="${project_loc:/org.jbehave.osgi.equinox.repository}/target/repository/" type="Profile"/>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="org.eclipse.equinox.log"/>
<plugin id="com.springsource.org.apache.commons.collections"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="javax.servlet"/>
<plugin id="javax.mail.glassfish"/>
<plugin id="org.apache.aries.util"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.hamcrest.generator"/>
<plugin id="org.eclipse.net4j.jms.api"/>
<plugin id="org.hamcrest.text"/>
<plugin id="org.apache.aries.blueprint.annotation.impl"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.apache.aries.blueprint.annotation.api"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.eclipse.equinox.io"/>
<plugin id="org.hamcrest"/>
<plugin id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="com.thoughtworks.qdox"/>
<plugin id="com.springsource.org.apache.commons.lang"/>
<plugin id="org.eclipse.equinox.servletbridge.extensionbundle"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.apache.aries.blueprint"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="org.hamcrest.library"/>
<plugin id="org.apache.xbean.finder"/>
<plugin id="org.easymock"/>
<plugin id="org.apache.aries.proxy.api"/>
<plugin id="org.apache.aries.proxy.impl"/>
<plugin id="org.eclipse.equinox.supplement"/>
</includeBundles>
</target>
