<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="jbehave-osgi-indigo" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.0.v20110502-7M7W8Z8eNV4Ulz-bhichboyz0Z5T"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.equinox.weaving.hook"/>
<plugin id="javax.servlet.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.equinox.servletbridge.extensionbundle"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.equinox.transforms.hook.source"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.weaving.hook.source"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.eclipse.equinox.weaving.caching.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.weaving.caching"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.equinox.transforms.hook"/>
</includeBundles>
</target>
