<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="jbehave-osgi-indigo" sequenceNumber="5">
<locations>
<location path="${project_loc:/jbehave-osgi-equinox-repository}/target/repository/" type="Profile"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.0.v20110502-7M7W8Z8eNV4Ulz-bhichboyz0Z5T"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
