<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.jbehave.osgi.examples.trader.application.JBehaveTraderServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.jbehave.osgi.examples.trader.application.application"
            name="JBehave OSGi Equinox : Trader Equinox Product Demo">
         <property
               name="appName"
               value="JBehave OSGi Equinox : Trader Equinox Product Demo">
         </property>
         <property
               name="aboutText"
               value="JBehave OSGi Equinox : Trader Equinox Product Demo.">
         </property>
      </product>
   </extension>



</plugin>
