<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="jbehave-osgi-examples-luna-local" sequenceNumber="108">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.feature.group" version="2.2.2.201402280852"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.2.201402280852"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.2.201402280852"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.2.201402280852"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.10.0.v20140115-1647"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.0.I20140123-1600"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.14.201311072346"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-8.x/8.1.14.v20131031"/>
</location>
<location path="${project_loc:/jbehave-osgi-examples}/../jbehave-osgi-equinox/org.jbehave.osgi.equinox.p2/target/repository" type="Directory"/>
</locations>
<environment>
<os>linux</os>
<arch>x86_64</arch>
</environment>
</target>
