<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo_building_local_ide" sequenceNumber="37">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jbehave.osgi.equinox.features.core.feature.group" version="0.0.2.201202091814"/>
<unit id="org.jbehave.osgi.equinox.features.deps.feature.group" version="0.0.2.201202091814"/>
<unit id="org.jbehave.osgi.equinox.features.web.feature.group" version="0.0.2.201202091814"/>
<repository location="http://cvgaviao.github.com/jbehave-osgi/p2/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.c4biz.osgiutils.feature.cm.indigo.feature.group" version="0.0.1.201202091735"/>
<unit id="com.c4biz.osgiutils.feature.assertions.feature.group" version="0.0.1.201202091735"/>
<unit id="com.c4biz.osgiutils.feature.vaadin.jetty.shiro.indigo.feature.group" version="0.0.1.201202091735"/>
<unit id="com.c4biz.osgiutils.feature.logging.feature.group" version="0.0.1.201202091735"/>
<repository location="http://cvgaviao.github.com/osgi-utils/p2/indigo/"/>
</location>
</locations>
</target>
