<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo_building_local_ide" sequenceNumber="33">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8h8eNV4Vrz-hz01A7SL_MhZP"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.c4biz.osgiutils.feature.equinox.indigo.feature.group" version="0.0.1.201202070242"/>
<unit id="com.c4biz.osgiutils.feature.vaadin.jetty.shiro.feature.group" version="0.0.1.201202070242"/>
<repository location="http://cvgaviao.github.com/osgi-utils/p2/indigo/"/>
</location>
<location path="${project_loc:/org.jbehave.osgi.examples}/../jbehave-osgi-equinox/org.jbehave.osgi.equinox.p2/target/repository/" type="Directory"/>
</locations>
</target>
