<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="eclipse-jbehave-osgi-indigo" sequenceNumber="17">
<locations>
<location path="${project_loc:/org.jbehave.osgi.equinox.repository}/target/repository/" type="Profile"/>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.rcp.source" path="${eclipse_home}" type="Feature"/>
</locations>
</target>
