<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="embedder" class="org.jbehave.core.embedder.Embedder" />

  <bean id="embedderServiceImpl" class="org.jbehave.osgi.services.impl.EmbedderServiceImpl"
    init-method="startUp">
    <property name="embedder" ref="embedder" />
  </bean>

  <service id="embedderService" ref="embedderServiceImpl"
    interface="org.jbehave.osgi.services.EmbedderService">
  </service>

</blueprint>
