<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="jbehave-osgi-luna-local" sequenceNumber="112">
<locations>
<location path="${project_loc:/jbehave-osgi-equinox}/org.jbehave.osgi.equinox.p2/target/repository" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.feature.group" version="2.2.2.201402280852"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.2.201402280852"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.2.201402280852"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.2.201402280852"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.14.201311072346"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-8.x/8.1.14.v20131031"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.10.0.v20140115-1647"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.0.I20140123-1600"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.2.201402280852"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="com.google.guava"/>
<plugin id="com.ibm.icu" version="50.1.1.v201304230130"/>
<plugin id="com.ibm.icu.source" version="50.1.1.v201304230130"/>
<plugin id="com.ning.async-http-client"/>
<plugin id="javax.activation"/>
<plugin id="javax.annotation" version="1.2.0.v201401042248"/>
<plugin id="javax.annotation.source" version="1.2.0.v201401042248"/>
<plugin id="javax.el"/>
<plugin id="javax.el.source"/>
<plugin id="javax.inject" version="1.0.0.v20091030"/>
<plugin id="javax.inject.source" version="1.0.0.v20091030"/>
<plugin id="javax.mail"/>
<plugin id="javax.security.auth.message"/>
<plugin id="javax.security.auth.message.source"/>
<plugin id="javax.servlet" version="3.0.0.v201112011016"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="javax.servlet.jsp.source"/>
<plugin id="javax.servlet.source" version="3.0.0.v201112011016"/>
<plugin id="javax.transaction"/>
<plugin id="javax.xml" version="1.3.4.v201005080400"/>
<plugin id="javax.xml.stream"/>
<plugin id="org.apache.ant" version="1.9.2.v201307241445"/>
<plugin id="org.apache.ant.source" version="1.9.2.v201307241445"/>
<plugin id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
<plugin id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
<plugin id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.exec"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.commons.lang3"/>
<plugin id="org.apache.commons.logging" version="1.1.3"/>
<plugin id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.log4j"/>
<plugin id="org.apache.log4j.source"/>
<plugin id="org.apache.servicemix.bundles.bcel"/>
<plugin id="org.apache.servicemix.bundles.freemarker"/>
<plugin id="org.apache.servicemix.bundles.paranamer"/>
<plugin id="org.apache.servicemix.bundles.woodstox"/>
<plugin id="org.apache.servicemix.bundles.xalan"/>
<plugin id="org.apache.servicemix.bundles.xerces"/>
<plugin id="org.apache.servicemix.bundles.xmlpull"/>
<plugin id="org.apache.servicemix.bundles.xpp3"/>
<plugin id="org.apache.servicemix.bundles.xstream"/>
<plugin id="org.apache.servicemix.specs.jaxp-api-1.4"/>
<plugin id="org.apache.servicemix.specs.stax-api-1.2"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.core.commands" version="3.6.100.v20130515-1857"/>
<plugin id="org.eclipse.core.commands.source" version="3.6.100.v20130515-1857"/>
<plugin id="org.eclipse.core.contenttype" version="3.4.200.v20130326-1255"/>
<plugin id="org.eclipse.core.contenttype.source" version="3.4.200.v20130326-1255"/>
<plugin id="org.eclipse.core.databinding" version="1.4.1.v20130515-1857"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.4.1.v20130927-1704"/>
<plugin id="org.eclipse.core.databinding.observable.source" version="1.4.1.v20130927-1704"/>
<plugin id="org.eclipse.core.databinding.property" version="1.4.200.v20130515-1857"/>
<plugin id="org.eclipse.core.databinding.property.source" version="1.4.200.v20130515-1857"/>
<plugin id="org.eclipse.core.databinding.source" version="1.4.1.v20130515-1857"/>
<plugin id="org.eclipse.core.expressions" version="3.4.600.v20131115-2008"/>
<plugin id="org.eclipse.core.expressions.source" version="3.4.600.v20131115-2008"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.jobs" version="3.5.400.v20130717-1327"/>
<plugin id="org.eclipse.core.jobs.source" version="3.5.400.v20130717-1327"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.core.runtime" version="3.10.0.v20140123-0905"/>
<plugin id="org.eclipse.core.runtime.compatibility" version="3.2.200.v20130326-1255"/>
<plugin id="org.eclipse.core.runtime.compatibility.source" version="3.2.200.v20130326-1255"/>
<plugin id="org.eclipse.core.runtime.source" version="3.10.0.v20140123-0905"/>
<plugin id="org.eclipse.e4.core.commands" version="0.10.2.v20131007-1653"/>
<plugin id="org.eclipse.e4.core.commands.source" version="0.10.2.v20131007-1653"/>
<plugin id="org.eclipse.e4.core.contexts" version="1.3.100.v20130905-1019"/>
<plugin id="org.eclipse.e4.core.contexts.source" version="1.3.100.v20130905-1019"/>
<plugin id="org.eclipse.e4.core.di" version="1.3.0.v20130514-1256"/>
<plugin id="org.eclipse.e4.core.di.extensions" version="0.12.0.v20140114-1847"/>
<plugin id="org.eclipse.e4.core.di.extensions.source" version="0.12.0.v20140114-1847"/>
<plugin id="org.eclipse.e4.core.di.source" version="1.3.0.v20130514-1256"/>
<plugin id="org.eclipse.e4.core.services" version="1.2.0.v20140110-1430"/>
<plugin id="org.eclipse.e4.core.services.source" version="1.2.0.v20140110-1430"/>
<plugin id="org.eclipse.e4.ui.bindings" version="0.10.200.v20140117-1809"/>
<plugin id="org.eclipse.e4.ui.bindings.source" version="0.10.200.v20140117-1809"/>
<plugin id="org.eclipse.e4.ui.css.core" version="0.10.100.v20131209-1035"/>
<plugin id="org.eclipse.e4.ui.css.core.source" version="0.10.100.v20131209-1035"/>
<plugin id="org.eclipse.e4.ui.css.swt" version="0.11.100.v20140116-2057"/>
<plugin id="org.eclipse.e4.ui.css.swt.source" version="0.11.100.v20140116-2057"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme" version="0.9.200.v20140114-1438"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme.source" version="0.9.200.v20140114-1438"/>
<plugin id="org.eclipse.e4.ui.di" version="1.0.0.v20130515-1857"/>
<plugin id="org.eclipse.e4.ui.di.source" version="1.0.0.v20130515-1857"/>
<plugin id="org.eclipse.e4.ui.model.workbench" version="1.1.0.v20140110-2012"/>
<plugin id="org.eclipse.e4.ui.model.workbench.source" version="1.1.0.v20140110-2012"/>
<plugin id="org.eclipse.e4.ui.services" version="1.0.100.v20140120-1508"/>
<plugin id="org.eclipse.e4.ui.services.source" version="1.0.100.v20140120-1508"/>
<plugin id="org.eclipse.e4.ui.widgets" version="1.0.0.v20140113-1431"/>
<plugin id="org.eclipse.e4.ui.widgets.source" version="1.0.0.v20140113-1431"/>
<plugin id="org.eclipse.e4.ui.workbench" version="1.1.0.v20140123-1829"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt" version="1.1.0.v20140123-1829"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source" version="1.1.0.v20140123-1829"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt" version="0.12.0.v20140122-1746"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source" version="0.12.0.v20140122-1746"/>
<plugin id="org.eclipse.e4.ui.workbench.source" version="1.1.0.v20140123-1829"/>
<plugin id="org.eclipse.e4.ui.workbench.swt" version="0.12.100.v20140117-1809"/>
<plugin id="org.eclipse.e4.ui.workbench.swt.source" version="0.12.100.v20140117-1809"/>
<plugin id="org.eclipse.e4.ui.workbench3" version="0.12.0.v20130515-1857"/>
<plugin id="org.eclipse.e4.ui.workbench3.source" version="0.12.0.v20130515-1857"/>
<plugin id="org.eclipse.emf.common" version="2.10.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.common.source" version="2.10.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.ecore" version="2.10.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.ecore.change" version="2.9.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.ecore.change.source" version="2.9.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.ecore.source" version="2.10.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.ecore.xmi" version="2.10.0.v20140117-0813"/>
<plugin id="org.eclipse.emf.ecore.xmi.source" version="2.10.0.v20140117-0813"/>
<plugin id="org.eclipse.equinox.app" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.app.source" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.bidi" version="0.10.0.v20130327-1442"/>
<plugin id="org.eclipse.equinox.bidi.source" version="0.10.0.v20130327-1442"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.ds" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.ds.source" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.equinox.preferences" version="3.5.100.v20130422-1538"/>
<plugin id="org.eclipse.equinox.preferences.source" version="3.5.100.v20130422-1538"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.400.v20130717-1325"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.400.v20130717-1325"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.equinox.util" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.equinox.util.source" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.help" version="3.6.0.v20130326-1254"/>
<plugin id="org.eclipse.help.source" version="3.6.0.v20130326-1254"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.jetty.ajp"/>
<plugin id="org.eclipse.jetty.ajp.source"/>
<plugin id="org.eclipse.jetty.annotations"/>
<plugin id="org.eclipse.jetty.annotations.source"/>
<plugin id="org.eclipse.jetty.client"/>
<plugin id="org.eclipse.jetty.client.source"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.jetty.continuation.source"/>
<plugin id="org.eclipse.jetty.deploy"/>
<plugin id="org.eclipse.jetty.deploy.source"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.eclipse.jetty.jaspi"/>
<plugin id="org.eclipse.jetty.jaspi.source"/>
<plugin id="org.eclipse.jetty.jmx"/>
<plugin id="org.eclipse.jetty.jmx.source"/>
<plugin id="org.eclipse.jetty.jndi"/>
<plugin id="org.eclipse.jetty.jndi.source"/>
<plugin id="org.eclipse.jetty.monitor"/>
<plugin id="org.eclipse.jetty.monitor.source"/>
<plugin id="org.eclipse.jetty.nested"/>
<plugin id="org.eclipse.jetty.nested.source"/>
<plugin id="org.eclipse.jetty.nosql"/>
<plugin id="org.eclipse.jetty.nosql.source"/>
<plugin id="org.eclipse.jetty.osgi.boot"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp.source"/>
<plugin id="org.eclipse.jetty.osgi.boot.source"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl.source"/>
<plugin id="org.eclipse.jetty.osgi.httpservice"/>
<plugin id="org.eclipse.jetty.osgi.httpservice.source"/>
<plugin id="org.eclipse.jetty.plus"/>
<plugin id="org.eclipse.jetty.plus.source"/>
<plugin id="org.eclipse.jetty.policy"/>
<plugin id="org.eclipse.jetty.policy.source"/>
<plugin id="org.eclipse.jetty.rewrite"/>
<plugin id="org.eclipse.jetty.rewrite.source"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.eclipse.jetty.servlets"/>
<plugin id="org.eclipse.jetty.servlets.source"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.eclipse.jetty.webapp"/>
<plugin id="org.eclipse.jetty.webapp.source"/>
<plugin id="org.eclipse.jetty.websocket"/>
<plugin id="org.eclipse.jetty.websocket.source"/>
<plugin id="org.eclipse.jetty.xml"/>
<plugin id="org.eclipse.jetty.xml.source"/>
<plugin id="org.eclipse.jface" version="3.10.0.v20140107-1310"/>
<plugin id="org.eclipse.jface.databinding" version="1.6.200.v20130515-1857"/>
<plugin id="org.eclipse.jface.databinding.source" version="1.6.200.v20130515-1857"/>
<plugin id="org.eclipse.jface.source" version="3.10.0.v20140107-1310"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.orbit.mongodb"/>
<plugin id="org.eclipse.osgi" version="3.10.0.v20140121-0337"/>
<plugin id="org.eclipse.osgi.compatibility.state"/>
<plugin id="org.eclipse.osgi.compatibility.state.source"/>
<plugin id="org.eclipse.osgi.services" version="3.4.0.v20131120-1328"/>
<plugin id="org.eclipse.osgi.services.source" version="3.4.0.v20131120-1328"/>
<plugin id="org.eclipse.osgi.source" version="3.10.0.v20140121-0337"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.swt" version="3.103.0.v20140122-1707"/>
<plugin id="org.eclipse.swtbot.ant.junit" version="2.2.2.201402280852"/>
<plugin id="org.eclipse.swtbot.eclipse.core"/>
<plugin id="org.eclipse.swtbot.eclipse.core.source"/>
<plugin id="org.eclipse.swtbot.eclipse.finder"/>
<plugin id="org.eclipse.swtbot.eclipse.finder.source"/>
<plugin id="org.eclipse.swtbot.eclipse.junit.headless" version="2.2.2.201402280852"/>
<plugin id="org.eclipse.swtbot.forms.finder"/>
<plugin id="org.eclipse.swtbot.forms.finder.source"/>
<plugin id="org.eclipse.swtbot.go"/>
<plugin id="org.eclipse.swtbot.go.source"/>
<plugin id="org.eclipse.swtbot.junit4_x"/>
<plugin id="org.eclipse.swtbot.junit4_x.source"/>
<plugin id="org.eclipse.swtbot.swt.finder"/>
<plugin id="org.eclipse.swtbot.swt.finder.source"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.ui" version="3.106.0.v20140123-1925"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.ui.source" version="3.106.0.v20140123-1925"/>
<plugin id="org.eclipse.ui.workbench" version="3.106.0.v20140123-1925"/>
<plugin id="org.eclipse.ui.workbench.source" version="3.106.0.v20140123-1925"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.update.configurator" version="3.3.200.v20130326-1319"/>
<plugin id="org.eclipse.update.configurator.source" version="3.3.200.v20130326-1319"/>
<plugin id="org.hamcrest.core" version="1.3.0.v201303031735-unsigned"/>
<plugin id="org.hamcrest.generator"/>
<plugin id="org.hamcrest.generator.source"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.hamcrest.integration.source"/>
<plugin id="org.hamcrest.library" version="1.3.0.v201305281000"/>
<plugin id="org.hamcrest.library.source" version="1.3.0.v201305281000"/>
<plugin id="org.jbehave.core"/>
<plugin id="org.jbehave.core.source"/>
<plugin id="org.jbehave.web.selenium"/>
<plugin id="org.jbehave.web.selenium.source"/>
<plugin id="org.jboss.netty"/>
<plugin id="org.json"/>
<plugin id="org.junit" version="4.11.0.v201303080030"/>
<plugin id="org.junit.source" version="4.11.0.v201303080030"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
<plugin id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
<plugin id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
<plugin id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v201105210656"/>
<plugin id="org.w3c.dom.smil" version="1.0.0.v200806040011"/>
<plugin id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
<plugin id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>
<plugin id="slf4j.api"/>
</includeBundles>
<environment>
<os>macosx</os>
<arch>x86_64</arch>
</environment>
</target>
