<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="jbehave-osgi-luna-local-linux" sequenceNumber="217">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="4.4.0.I20140515-1230"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.10.0.v20140416-2102"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.2.201404220837"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.2.2.201404220837"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.2.201404220837"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.2.201404220837"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
<location path="${project_loc:/jbehave-osgi}/jbehave-osgi-equinox/org.jbehave.osgi.equinox.p2/target/repository/plugins" type="Directory"/>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="com.google.guava"/>
<plugin id="com.ibm.icu" version="52.1.0.v201404241930"/>
<plugin id="com.ibm.icu.source" version="52.1.0.v201404241930"/>
<plugin id="javax.annotation" version="1.2.0.v201401042248"/>
<plugin id="javax.annotation.source" version="1.2.0.v201401042248"/>
<plugin id="javax.inject" version="1.0.0.v20091030"/>
<plugin id="javax.inject.source" version="1.0.0.v20091030"/>
<plugin id="javax.servlet"/>
<plugin id="javax.xml" version="1.3.4.v201005080400"/>
<plugin id="javax.xml.stream"/>
<plugin id="org.apache.ant"/>
<plugin id="org.apache.ant.source"/>
<plugin id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<plugin id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
<plugin id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
<plugin id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.log4j"/>
<plugin id="org.apache.log4j.source"/>
<plugin id="org.apache.servicemix.bundles.freemarker"/>
<plugin id="org.apache.servicemix.bundles.paranamer"/>
<plugin id="org.apache.servicemix.bundles.xmlpull"/>
<plugin id="org.apache.servicemix.bundles.xpp3"/>
<plugin id="org.apache.servicemix.bundles.xstream"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.core.commands" version="3.6.100.v20140424-2344"/>
<plugin id="org.eclipse.core.commands.source" version="3.6.100.v20140424-2344"/>
<plugin id="org.eclipse.core.contenttype" version="3.4.200.v20140207-1251"/>
<plugin id="org.eclipse.core.contenttype.source" version="3.4.200.v20140207-1251"/>
<plugin id="org.eclipse.core.databinding" version="1.4.1.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.observable.source" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.property" version="1.4.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.property.source" version="1.4.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.source" version="1.4.1.v20140214-0004"/>
<plugin id="org.eclipse.core.expressions" version="3.4.600.v20140128-0851"/>
<plugin id="org.eclipse.core.expressions.source" version="3.4.600.v20140128-0851"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.jobs" version="3.6.0.v20140424-0053"/>
<plugin id="org.eclipse.core.jobs.source" version="3.6.0.v20140424-0053"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.core.runtime" version="3.10.0.v20140318-2214"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.core.runtime.compatibility.source"/>
<plugin id="org.eclipse.core.runtime.source" version="3.10.0.v20140318-2214"/>
<plugin id="org.eclipse.e4.core.commands" version="0.10.2.v20140424-2344"/>
<plugin id="org.eclipse.e4.core.commands.source" version="0.10.2.v20140424-2344"/>
<plugin id="org.eclipse.e4.core.contexts" version="1.3.100.v20140407-1019"/>
<plugin id="org.eclipse.e4.core.contexts.source" version="1.3.100.v20140407-1019"/>
<plugin id="org.eclipse.e4.core.di" version="1.4.0.v20140414-1837"/>
<plugin id="org.eclipse.e4.core.di.extensions" version="0.12.0.v20140417-2033"/>
<plugin id="org.eclipse.e4.core.di.extensions.source" version="0.12.0.v20140417-2033"/>
<plugin id="org.eclipse.e4.core.di.source" version="1.4.0.v20140414-1837"/>
<plugin id="org.eclipse.e4.core.services" version="1.2.0.v20140509-1840"/>
<plugin id="org.eclipse.e4.core.services.source" version="1.2.0.v20140509-1840"/>
<plugin id="org.eclipse.e4.ui.bindings" version="0.10.200.v20140424-2042"/>
<plugin id="org.eclipse.e4.ui.bindings.source" version="0.10.200.v20140424-2042"/>
<plugin id="org.eclipse.e4.ui.css.core" version="0.10.100.v20140424-2042"/>
<plugin id="org.eclipse.e4.ui.css.core.source" version="0.10.100.v20140424-2042"/>
<plugin id="org.eclipse.e4.ui.css.swt" version="0.11.100.v20140515-1607"/>
<plugin id="org.eclipse.e4.ui.css.swt.source" version="0.11.100.v20140515-1607"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme" version="0.9.300.v20140424-2042"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme.source" version="0.9.300.v20140424-2042"/>
<plugin id="org.eclipse.e4.ui.di" version="1.0.0.v20140328-2112"/>
<plugin id="org.eclipse.e4.ui.di.source" version="1.0.0.v20140328-2112"/>
<plugin id="org.eclipse.e4.ui.model.workbench" version="1.1.0.v20140512-1820"/>
<plugin id="org.eclipse.e4.ui.model.workbench.source" version="1.1.0.v20140512-1820"/>
<plugin id="org.eclipse.e4.ui.services" version="1.1.0.v20140328-1925"/>
<plugin id="org.eclipse.e4.ui.services.source" version="1.1.0.v20140328-1925"/>
<plugin id="org.eclipse.e4.ui.widgets" version="1.0.0.v20140514-1823"/>
<plugin id="org.eclipse.e4.ui.widgets.source" version="1.0.0.v20140514-1823"/>
<plugin id="org.eclipse.e4.ui.workbench" version="1.1.0.v20140513-1854"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt" version="1.1.0.v20140512-1905"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source" version="1.1.0.v20140512-1905"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt" version="0.12.0.v20140514-2033"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source" version="0.12.0.v20140514-2033"/>
<plugin id="org.eclipse.e4.ui.workbench.source" version="1.1.0.v20140513-1854"/>
<plugin id="org.eclipse.e4.ui.workbench.swt" version="0.12.100.v20140509-1922"/>
<plugin id="org.eclipse.e4.ui.workbench.swt.source" version="0.12.100.v20140509-1922"/>
<plugin id="org.eclipse.e4.ui.workbench3" version="0.12.0.v20140227-2118"/>
<plugin id="org.eclipse.e4.ui.workbench3.source" version="0.12.0.v20140227-2118"/>
<plugin id="org.eclipse.emf.common" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.common.source" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.ecore" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.ecore.change" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.ecore.change.source" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.ecore.source" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.ecore.xmi" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.emf.ecore.xmi.source" version="2.10.0.v20140514-1158"/>
<plugin id="org.eclipse.equinox.app" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.app.source" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.bidi" version="0.10.0.v20130327-1442"/>
<plugin id="org.eclipse.equinox.bidi.source" version="0.10.0.v20130327-1442"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.coordinator"/>
<plugin id="org.eclipse.equinox.coordinator.source"/>
<plugin id="org.eclipse.equinox.device"/>
<plugin id="org.eclipse.equinox.device.source"/>
<plugin id="org.eclipse.equinox.ds" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.ds.source" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.event" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.event.source" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.io"/>
<plugin id="org.eclipse.equinox.io.source"/>
<plugin id="org.eclipse.equinox.ip"/>
<plugin id="org.eclipse.equinox.ip.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.log" version="1.2.300.v20130327-1442"/>
<plugin id="org.eclipse.equinox.log.source" version="1.2.300.v20130327-1442"/>
<plugin id="org.eclipse.equinox.metatype"/>
<plugin id="org.eclipse.equinox.metatype.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.equinox.preferences" version="3.5.200.v20140224-1527"/>
<plugin id="org.eclipse.equinox.preferences.source" version="3.5.200.v20140224-1527"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.equinox.useradmin"/>
<plugin id="org.eclipse.equinox.useradmin.source"/>
<plugin id="org.eclipse.equinox.util" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.equinox.util.source" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.equinox.wireadmin"/>
<plugin id="org.eclipse.equinox.wireadmin.source"/>
<plugin id="org.eclipse.help" version="3.6.0.v20130326-1254"/>
<plugin id="org.eclipse.help.source" version="3.6.0.v20130326-1254"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.jface" version="3.10.0.v20140507-1527"/>
<plugin id="org.eclipse.jface.databinding" version="1.6.200.v20140214-0004"/>
<plugin id="org.eclipse.jface.databinding.source" version="1.6.200.v20140214-0004"/>
<plugin id="org.eclipse.jface.source" version="3.10.0.v20140507-1527"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.osgi" version="3.10.0.v20140513-1456"/>
<plugin id="org.eclipse.osgi.compatibility.state"/>
<plugin id="org.eclipse.osgi.compatibility.state.source"/>
<plugin id="org.eclipse.osgi.services" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.services.source" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.source" version="3.10.0.v20140513-1456"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.swt" version="3.103.0.v20140514-1355"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64" version="3.103.0.v20140514-1435"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64.source" version="3.103.0.v20140514-1435"/>
<plugin id="org.eclipse.swtbot.ant.junit"/>
<plugin id="org.eclipse.swtbot.eclipse.core"/>
<plugin id="org.eclipse.swtbot.eclipse.core.source"/>
<plugin id="org.eclipse.swtbot.eclipse.finder"/>
<plugin id="org.eclipse.swtbot.eclipse.finder.source"/>
<plugin id="org.eclipse.swtbot.eclipse.junit.headless"/>
<plugin id="org.eclipse.swtbot.forms.finder"/>
<plugin id="org.eclipse.swtbot.forms.finder.source"/>
<plugin id="org.eclipse.swtbot.go"/>
<plugin id="org.eclipse.swtbot.go.source"/>
<plugin id="org.eclipse.swtbot.junit4_x"/>
<plugin id="org.eclipse.swtbot.junit4_x.source"/>
<plugin id="org.eclipse.swtbot.swt.finder"/>
<plugin id="org.eclipse.swtbot.swt.finder.source"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.ui" version="3.106.0.v20140512-1545"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.ui.source" version="3.106.0.v20140512-1545"/>
<plugin id="org.eclipse.ui.workbench" version="3.106.0.v20140514-2033"/>
<plugin id="org.eclipse.ui.workbench.source" version="3.106.0.v20140514-2033"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.update.configurator" version="3.3.200.v20130326-1319"/>
<plugin id="org.eclipse.update.configurator.source" version="3.3.200.v20130326-1319"/>
<plugin id="org.hamcrest.core" version="1.3.0.v201303031735-unsigned"/>
<plugin id="org.hamcrest.generator"/>
<plugin id="org.hamcrest.generator.source"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.hamcrest.integration.source"/>
<plugin id="org.hamcrest.library" version="1.3.0.v201305281000"/>
<plugin id="org.hamcrest.library.source" version="1.3.0.v201305281000"/>
<plugin id="org.jbehave.osgi.fragment.jdk"/>
<plugin id="org.junit" version="4.11.0.v201303080030"/>
<plugin id="org.junit.source" version="4.11.0.v201303080030"/>
<plugin id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
<plugin id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
<plugin id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
<plugin id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v201105210656"/>
<plugin id="org.w3c.dom.smil" version="1.0.0.v200806040011"/>
<plugin id="org.w3c.dom.smil.source" version="1.0.0.v200806040011"/>
<plugin id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
<plugin id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>
<plugin id="slf4j.api"/>
</includeBundles>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
</environment>
</target>
